@import './variables.css';
@import './globals.css';

@import './components/background.css';
@import './components/cards.css';
@import './components/navbar.css';
@import './components/header.css';
@import './components/about.css';
@import './components/skills.css';
@import './components/projects.css';
@import './components/footer.css';
